/* Team */

#pokedex-box,
#team-pokemon-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

#pokedex-box > article,
#team-pokemon-box > article {
  min-width: 100px;
  max-width: 200px;
}

#pokedex-box > article > img,
#team-pokemon-box > article > img {
  width: 100%;
}
